<ion-header>
  <ion-toolbar>
    <ion-title>{{ modalName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="modalName !== 'My rooms'" style="text-align: center">
      <ion-item class="user-input">
          <ion-input type="text" id="username" [(ngModel)]="username" placeholder="Username">
          </ion-input>
      </ion-item>
      <ion-item class="user-input">
          <ion-input type="password" id="password" [(ngModel)]="password" placeholder="Password">
          </ion-input>
      </ion-item>
      <ion-button color="danger" id="submitBtn" shape="round" (click)="modalName === 'Login' ? login() : register()">
          Submit
      </ion-button>
  </ion-card>
  <ion-list *ngIf="modalName === 'My rooms'">
    <ion-item *ngFor="let item of myRooms">
      <ion-text (click)="openRoom(item.title)">
        {{item.title}}
      </ion-text>
      <ion-icon slot="end" (click)="deleteRoom(item.title)" name="trash" color="warning"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
