<ion-item [attr.color]="result._id === currentId ? 'primary' : ''" class="item" [disabled]="result._id === currentId">
  <ion-thumbnail (click)="playMe()" class="ion-margin-end thumbnail">
    <img src="{{result.thumbnail}}">
  </ion-thumbnail>
  <ion-label>
    <h2 (click)="playMe()" class="title">{{result?.title}}</h2>
    <p>{{result?.description}}</p>
  </ion-label>
  <ion-icon (click)="deleteMe()" name="trash" class="ion-margin-start trash" [attr.color]="result._id === currentId ? 'warning' : 'primary'"></ion-icon>
</ion-item>