@media (min-width: 480px) { 
    .zoom {
        zoom: 1.2;
    }
  }

#spinner {
    display: block;
    margin: auto;
}

.outlet, .notes {
    zoom: 5;
    margin: 10px auto 0;
    display: block;
}

#search {
    --icon-color: #ffce00;
    --background: white;
}

ion-content{
    --ion-background-color: transparent;
}