ion-card {
    min-height: 100%;
    background: white;
}

ion-icon {
    font-size: 64px;
}


ion-input {
    text-align: center;
    --border-color: black;
}

.room-input {
    margin-top: 15px;
    --border-style: solid;
    --border-width: 1px;
}

.user-input {
    margin-right: 10px;
}

// body {
//   font-family: 'Custom', Fallback, sans-serif !important;
// }

// @font-face {
//     font-family: 'Custom';
//     src: url('/assets/font/GrinchedRegular.otf') format('opentype');
// }

@import url("https://fonts.googleapis.com/css?family=Girassol|Indie+Flower&display=swap");
.title {
  font-family: 'Indie Flower', sans-serif;
  font-size: 64px;
  font-weight: bold;
}
span {
  font-family: sans-serif;
}