h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: 50px;
}

.content {
    --background: #fff url('https://img.freepik.com/vrije-photo/abstract-inkblot_1112-816.jpg?size=626&ext=jpg') no-repeat center center / cover;
}