<h1>{{roomId}}</h1>
<ion-content *ngIf="currentSong">
  <ion-grid class="grid ion-padding">
    <ion-row>
      <ion-col size-md="7" size-sm="12" class="col">
        <youtube-player [videoId]="currentSong._id"  (ready)="savePlayer($event)" (change)="onStateChange($event)">
        </youtube-player>
      </ion-col>
      <ion-col size-md="5" size-sm=12>
        <ion-list>
          <app-playlist-item *ngFor="let item of items" [result]="item" [currentId]="currentSong._id"
            (playSong)="playNextSong($event[0])" (deleteSong)="removeSongFromPlaylist($event[0])">
          </app-playlist-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>