ion-card {
    background: white;
}

h1 {
    font-size: 64px;
    font-weight: bold;
    color: black;
    float: left;
}

h2 {
    font-weight: bold;
    color: black;
}

.qrcode-div {
    float:right;
    img {
        height: 350px;
    }
}